*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --lora-font: "Lora", serif;
    --source-font: "Source Sans 3", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}